.todo {
    width: 400px;
    margin: 1em;
    align-items: start;
    background-color: #a1c7ef;
    border-radius: 1em;
}

.todo__header {
    background-color: #359aff;
    padding: 1em;
}

.todo__header_content {
    display: flex;
    justify-content: space-between;
}

.todo__header_buttons {
    display: flex;
    gap: 1em;
}

.todo__header_addTask_button {

}

.todo__header_delete_button {

}

.todo__header_description {
    color: #333333;
    font-size: 0.8em;
}

.todo__checkbox {
    height: 1.5em;
    width: 1.5em;
    cursor: pointer;
}

.todo__tasks {
    display: flex;
    flex-direction: column;
}