.task {
    width: 400px;
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    gap: 1em;
    margin: 1em;
    padding: 1em;
    align-items: start;
    background-image: linear-gradient(to right, #ff6c33, #b46aff);
    border-radius: 1em;
}

.task__checkbox {
    height: 1.5em;
    width: 1.5em;
    cursor: pointer;
}

.task__text {
    color: white;
}

.task__button {
    height: 2em;
    width: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #ff5858;
    border: 1px solid white;
    cursor: pointer;
}

.task__button:hover {
    outline: #ff5858 2px solid;
}