.task {
    font-weight: 600;
    color: #222222;
    border-bottom: 1px #383838 solid;
    padding: .5em;
}

.task__list {
    list-style: none;
    padding: .5em;
}

.task__deadline {
    color: #383838;
    font-size: 0.8em;
    padding-left: 1em;
}